.green{
    background-color: blue;
    color:white;
}
.black{
    background-color: black;
    color: white;
}
.pink{
    background-color: pink;
    color: aqua;
}
.yellow{
    background-color: yellow;
}
#rohit{
    background-color: blueviolet;
}